body
{
    background: #1E1E1E;
}



.card {
    width: 190px;
    height: 254px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
  }
  
.card:before,.card:hover:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(250, 0, 146,0.2),rgba(255, 255, 0,0.2), rgba(255, 0, 0,0.2), rgba(251, 0, 148,0.2), 
          rgba(0, 0, 255,0.2), rgba(0, 255, 0,0.2),rgba(255, 255, 0,0.2), rgba(255, 0, 0,0.2));
    background-size: 150%; /* You can control speed with this*/
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }  
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .card:hover:after{
    
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    background-image: 250px;
    animation: steam 20s linear infinite;
  }
  .card:after {
    filter: blur(100px);
  }
  

  .card:hover:before
  {
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    

    background-size: 440%; /* You can control speed*/
    animation: steam 20s linear infinite;
  }

  .row
  {
    display: flex;
    flex-wrap: wrap;
    margin: 12%;
  }

  .column
  {
    flex: 1;
    padding: 4px 4px 4px 4px;
}

  .column[id="col_2"]
  {
    padding: 50px 4px 4px 4px;
  }

  .column div
  {
    margin-top: 30px;
  }
  

  